<app-header></app-header>  
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" class="sidebar" [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0"> 
      <div class="sidebar__container fullwidth">
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
  <div  class="container-fluid primary">
      <div class="container__inner" id="top">
      <section class="main">
      <h1>Welcome to our Medium demo, here you can see Drupal data appearing in real time in an Angular table! The fun bit -- it was transferred via Blockchain</h1>
      <div
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="30px"
      fxLayoutGap.xs="0"
      >
      <div fxFlex>
      <mat-table fxFlex #table [dataSource]="dataSource">

        <!-- Value Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>

          <mat-cell *matCellDef="let element">
           {{element.data.json.title}}
         </mat-cell>

        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="body">
          <mat-header-cell *matHeaderCellDef>body</mat-header-cell>
          <mat-cell *matCellDef="let element">
           {{element.data.json.body}}
         </mat-cell>

        </ng-container>

                <!-- Value Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef>blocktime</mat-header-cell>

          <mat-cell *matCellDef="let element">
           {{element.blocktime}}
         </mat-cell>

        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [@onOffTrigger]="row.active" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      </div>
  </div>
</section>

</div>
</div>
</mat-sidenav-content>
</mat-sidenav-container>


<app-footer></app-footer>
